.places {
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
  .places {
    width: calc(100% - 96px);
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 700px) {
  .places {
    width: 100%;
  }
}
