.cover__subtitle {
  z-index: 1;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 700px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 16px auto 0;
  }
}
