.lead__title {
  font-weight: 900;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  margin: 56px auto 32px;
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 48px auto 16px;
  }
}
