.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  margin: 8px auto 0;
  line-height: 14px;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 700px) {
  .lead__caption {
    width: calc(100% - 32px);
  }
}
