.cover__title {
  font-family: 'Inter-Black';
  z-index: 1;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
