.footer {
  min-height: 18px;
  max-width: 1184px;
  width: calc(100% - 96px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 92px auto 0;
  padding: 0 0 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 700px) {
  .footer {
    margin: 64px auto 0;
    min-height: 310px;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100% - 32px);
  }
}
