.intro__title {
  font-family: 'Inter-Black';
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
  margin-top: 92px;
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .intro__title {
    margin-top: 104px;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 700px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin-top: 64px;
  }
}
